<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lesson.zijin.com.zijinpractice">
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chenglei6116" />
        <activity android:name=".Chengjie6101" />
        <activity android:name=".Ezl6117" />
        <activity android:name=".Guying6105" />
        <activity android:name=".Sunbaoqi6126Activity" />
        <activity android:name=".Yuyuanyuan6112" />
        <activity android:name=".Wangchenbo6127" />
        <activity android:name=".Lijun6121" />
        <activity android:name=".Heqianqian6107" />
        <activity android:name=".Guohuilin6106" />
        <activity android:name=".Chucheng6102" />
        <activity android:name=".Geyu6104" />
        <activity android:name=".fangyan6103" />
        <activity android:name=".qunini6108" />
        <activity android:name=".Qianzhaoyue6109" />
        <activity android:name=".zhouliangzhu6114" />
    </application>

</manifest>